<h1>Welcome to Trade-Trade!</h1>


<p>What skills are you hoping to learn</p>


	
	<% @skills.each do |skill| %>
			<input type="checkbox">
			<%= skill.name %>
				<br>
		<% end %>


<br>



<p>which skills can you teach? </p>


	<% @skills.each do |skill| %>
			<input type="checkbox">
			<%= skill.name %>
				<br>
		<% end %>
